<html>
  <body>
    <h4>Conta criada com sucesso!</h4>

    <p>Olá {{name}},</p>

    <p>Obrigado por criar uma conta na nossa plataforma. Estamos felizes em
      tê-lo conosco!</p>

    <p>Para ativar sua conta, clique no link abaixo:</p>
    <p>
      <a href='{{url}}'>Ativar minha conta</a>
    </p>
  </body>
</html>